.banner {
  background: #FCEED5;
}


.home-header {
  background-color: #FCEED5; 
}


.inner-header {
  background-color: #ffffff;
  
}
.navbar-custom {
  transition: all 0.3s ease;
}

.banner-title {
  font-size: 60px;
  font-weight: 600;
  color: #103559;
  font-family: 'Gilroy-Bold', sans-serif;
}
.banner-title2 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #103559;
  font-family: 'Gilroy-Bold', sans-serif;
}

.banner-text {
  font-size: 16px;
  color: #103559;
  margin-bottom: 30px;
  max-width: 480px;
}

.btn-dark-color {
  background: transparent;
  border: 2px solid #103559;
  color: #103559;
  font-weight: 500;
  padding: 8px 20px;
  font-family: 'Gilroy-Regular', sans-serif;
  transition: 0.3s ease;
  align-items: center;
  gap: 8px;

}

.btn-dark-color:hover {
  background: #103559;
  color: #fff;
}

.btn-color {
  background: #103559;
  color: #fff;
  border: 2px solid #103559;
  font-weight: 500;
  padding: 8px 20px;
  font-family: 'Gilroy-Regular', sans-serif;
  transition: 0.3s ease;
}

.btn-color:hover {
  background: #0e4c75;
  border-color: #0e4c75;
}

.banner-img {
  max-width: 100%;
}

.play-icon {
  width: 22px;
  height: 22px;
  border: 2px solid #103559;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.play-icon i {
  font-size: 14px;
  color: #103559;
}

.btn-dark-color:hover .play-icon {
  background: #103559;
  border: 1px dashed #d1d5db;
}

.btn-dark-color:hover .play-icon i {
  color: #fff;
}

.service-wrapper {
  border: 1px dashed #d1d5db;
  padding: 30px 20px;
  border-radius: 6px;
}

.service-item {
  border-right: 1px dashed #d1d5db;
}

.service-item:last-child {
  border-right: none;
}

.service-wrapper i {
  color: #1f2937;
}


.promo-card {
  position: relative;
  background: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  min-height: 230px;
  display: flex;
  align-items: center;
}

.promo-card.blue {
  background: #dff3f7;
}

.promo-card.light {
  background: #f3efe9;
}

.promo-content {
  z-index: 2;
  max-width: 60%;
}

.small-text {
  color: #6b7280;
  margin-bottom: 10px;
}

.promo-card h4 {
  font-weight: 700;
  margin-bottom: 15px;
}

.shop-link {
  color: #0d3b66;
  font-weight: 600;
  text-decoration: none;
}

.shop-link:hover {
  text-decoration: underline;
}

.promo-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
}
